<?xml version="1.0" encoding="UTF-8" ?>
        <!DOCTYPE mapper
                PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.TopCategoryMapper">

<resultMap id="topcategory" type="com.entity.TopCategory">
    <id property="id" column="id"></id>
    <result property="title" column="title"></result>
    <result property="level" column="level"></result>
    <result property="time_create" column="time_create"></result>
    <result property="time_create" column="time_create"></result>
</resultMap>

<select id="getAll" resultMap="topcategory">
    select * from category_1
    </select>

</mapper>